:host {
    display: block;
    background: #fff;
    border-radius: 8px;
    padding: 8px 16px;
  }
.mybutton{
    width: max-content;
    margin-bottom: 1em;
  }
  .mat-form-field {
    font-size: 14px;
    width: 100%;
  }