
<nav class="navbar navbar-expand-lg navbar-dark " id="nav1">
    <div class="container-fluid">
      <a class="brand" href="#" >
        <img  src="../../assets/Logo.png" alt="logo" height="50rem" width="180rem" >
      </a>
      
     <div class="left-col">
      <div style="display: flex;" id="navbarColor02">
        <form class="d-flex">
          <input class="form-control me-sm-2" type="text" placeholder="Search" id="inputSearch">
        </form>
        <a href="#" class="btn btn-secondary my-2 my-sm-0" style="background:none;border:none">
        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16"  class="bi bi-bookmark" viewBox="0 0 16 16">
            <path d="M2 2a2 2 0 0 1 2-2h8a2 2 0 0 1 2 2v13.5a.5.5 0 0 1-.777.416L8 13.101l-5.223 2.815A.5.5 0 0 1 2 15.5V2zm2-1a1 1 0 0 0-1 1v12.566l4.723-2.482a.5.5 0 0 1 .554 0L13 14.566V2a1 1 0 0 0-1-1H4z"/>
          </svg>
        </a>
      
        <div class="dropdown" style = "background:none;border:none">
            <button class="btn btn-primary dropdown-toggle" type="button" id="dropdownMenuButton" data-bs-toggle="dropdown" aria-expanded="false" style="background:none;border:none;width:2.5em" >
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="black" class="bi bi-person-circle" viewBox="0 0 16 16">
                    <path d="M11 6a3 3 0 1 1-6 0 3 3 0 0 1 6 0z"/>
                    <path fill-rule="evenodd" d="M0 8a8 8 0 1 1 16 0A8 8 0 0 1 0 8zm8-7a7 7 0 0 0-5.468 11.37C3.242 11.226 4.805 10 8 10s4.757 1.225 5.468 2.37A7 7 0 0 0 8 1z"/>
                  </svg>
            </button>
            <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton" style="min-width:6em;background-color: black ;">
              <li style="padding-left:1em"><a class="dropdown-item" routerLink="/register" class="item">Register</a></li>
              <li style="padding-left:1em"><a class="dropdown-item" routerLink="/login" class="item" >Login</a></li>
            </ul>
          </div>
        <a href="#" class="btn btn-secondary my-2 my-sm-0" style="background:none;border:none">
        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="black" class="bi bi-cart2" viewBox="0 0 16 16">
            <path d="M0 2.5A.5.5 0 0 1 .5 2H2a.5.5 0 0 1 .485.379L2.89 4H14.5a.5.5 0 0 1 .485.621l-1.5 6A.5.5 0 0 1 13 11H4a.5.5 0 0 1-.485-.379L1.61 3H.5a.5.5 0 0 1-.5-.5zM3.14 5l1.25 5h8.22l1.25-5H3.14zM5 13a1 1 0 1 0 0 2 1 1 0 0 0 0-2zm-2 1a2 2 0 1 1 4 0 2 2 0 0 1-4 0zm9-1a1 1 0 1 0 0 2 1 1 0 0 0 0-2zm-2 1a2 2 0 1 1 4 0 2 2 0 0 1-4 0z"/>
          </svg>
          </a>
        </div>
      </div>
    </div>
  </nav>
  <div class="navcontainer">
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark" id="nav2">
    <div class="container-fluid">
        <!--<button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarColor02" aria-controls="navbarColor02" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>-->
        <ul class="navbar-nav me-auto">
            <li class="nav-item">
              <a class="nav-link active" href="#">Home
                <span class="visually-hidden">(current)</span>
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Category 1</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Category 2</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Category 3</a>
            </li>
            
          </ul>
      </div>
  </nav>
</div>
  

