<app-navbar></app-navbar>
<div class="register">
    <h2>Login Form</h2>
    <form (ngSubmit)="onSubmit()" >
       <div class="mb-3">
            <label for="exampleInputEmail1" class="form-label">Email</label>
            <input type="email" class="form-control"   [(ngModel)] = "user.email" name= "email" >
            <div id="emailHelp" class="form-text"></div>
          </div>
        <div class="mb-3">
          <label for="exampleInputPassword1" class="form-label">Password</label>
          <input type="password" class="form-control" [(ngModel)] = "user.password" name = "password">
        </div>
          <div class="mb-3">
          <label class="alert alert-danger" *ngIf='response!=""' >{{response}}</label>
        </div>
       <button type="submit" class="btn btn-primary" style="background-color: #d9381e; border:#d9381e">Submit</button>
        <a class="create" routerLink="/register"><b>Create an account</b></a>
      </form>
</div>
