/* image-container{
    width: 50% !important;
}
details-container{
    width: 50%!important;
    float: right !important;
}
image{
    width: 3em;
}
.product-container{
    width: 10em;
}
.mat-dialog-container{
    width: 5em;
} */