<app-sidebar [page2]="page2"></app-sidebar>
<div class="containerrr">
    <div class="nav">
        <div id="brand"><img src="../../../assets/Logo.png" alt="logo" height="50rem" width="180rem"></div>
        <div class="logout" ><a class="logbutton" (click)="logOut()"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16"  fill="currentColor" class="bi bi-box-arrow-right" viewBox="0 0 16 16">
            <path fill-rule="evenodd" d="M10 12.5a.5.5 0 0 1-.5.5h-8a.5.5 0 0 1-.5-.5v-9a.5.5 0 0 1 .5-.5h8a.5.5 0 0 1 .5.5v2a.5.5 0 0 0 1 0v-2A1.5 1.5 0 0 0 9.5 2h-8A1.5 1.5 0 0 0 0 3.5v9A1.5 1.5 0 0 0 1.5 14h8a1.5 1.5 0 0 0 1.5-1.5v-2a.5.5 0 0 0-1 0v2z"/>
            <path fill-rule="evenodd" d="M15.854 8.354a.5.5 0 0 0 0-.708l-3-3a.5.5 0 0 0-.708.708L14.293 7.5H5.5a.5.5 0 0 0 0 1h8.793l-2.147 2.146a.5.5 0 0 0 .708.708l3-3z"/>
          </svg><span style="padding-left:10px">Log out</span></a></div>
    </div>
    <div style="position: relative;">
    <div class="title">
        <span id="title">Profile</span>
    </div>
    <div class="content-back">

        <div class="content">
            <div class="profile-form">
                <form (ngSubmit)="onUpdate()" id="form_id">
                    <div class="row column-container">
                        <div class="col first-col">
                            <div class="mb-3">
                                <label class="form-label">First name</label>
                                <input type="text" required class="form-control"  name = "firstname"[(ngModel)] = "new_user.firstname">
                            </div>
                            <div class="mb-3">
                                <label class="form-label">Last name</label>
                                <input type="text" class="form-control" placeholder={{user.lastname}} name = "lastname"[(ngModel)] = "new_user.lastname">
                            </div>
                            <div class="mb-3">
                                <label  class="form-label">Phone</label>
                                <input type="phone" class="form-control" placeholder={{user.phone}} name = "phone"[(ngModel)] = "new_user.phone">
                            </div>
                            <div class="mb-3">
                                <label  class="form-label">Email</label>
                                <input type="email" class="form-control" placeholder={{user.email}} name = "email"[(ngModel)] = "new_user.email">
                            </div>
                        </div>
                <!-- <div class="col"></div> -->
                        <div class="col sec-col">
                            <div class="mb-3">
                                <label  class="form-label">Street Line</label>
                                <input type="text" class="form-control" placeholder={{user.streetLine}} name = "streetLine"[(ngModel)] = "new_user.streetLine">
                            </div>
                            <div class="mb-3">
                                <label  class="form-label">Postal Code</label>
                                <input type="text" class="form-control" placeholder={{user.postalCode}} name = "postalCode"[(ngModel)] = "new_user.postalCode">
                            </div>
                            <div class="mb-3">
                                <label  class="form-label">Country</label>
                                <input type="text" class="form-control" placeholder={{user.country}} name = "country"[(ngModel)] = "new_user.country">
                            </div>
                            <div class="mb-3">
                                <label  class="form-label">County</label>
                                <input type="text" class="form-control" placeholder={{user.county}} name = "county"[(ngModel)] = "new_user.county">
                            </div>
                            <div class="mb-3">
                                <label  class="form-label">City</label>
                                <input type="text" class="form-control" placeholder={{user.city}} name = "city"[(ngModel)] = "new_user.city">
                            </div>
                        </div>

                <div class="row button-row">
                    <div class="col third">
                    <label *ngIf="success!=''"  style="font-family:Arial, Helvetica, sans-serif">{{success}}</label>
                    <button type="submit" class="btn btn-primary" style="background-color: #d9381e; border:#d9381e">Update</button>
                </div>
            </div>
                </div>
                  </form>
            </div>
        </div>
    </div>
</div>
    <div class="footer">
        <span id="footer-text"> 2022 @Vermillion Admin Page</span>
    </div>
</div>
