@import url('../admin/admin.component.css');
button{
    background-color:transparent;
    border-radius: 15%;
    border: none;
    width: fit-content;
}
.catlist{
    max-width: 25em;
    padding:2em;
}
.subtitle{
    padding: 2em;
    padding-bottom: 0;
    width: auto;
}
.categ-list-subtitle{
    margin-right: 15px;
    font-weight: 500;
}
 input[type=text]{
    border: none;
    border-bottom: 2px solid crimson;
}
/* input[type='text']:focus {
    border: 3px solid rgb(5, 15, 130);
  } */ 

input[type=text]:active,input[type=text]:focus {
border-color: transparent !important;
outline: none;
transition: transform 0.4s linear 0s, border-left-width 0s linear 0.35s;
}