<app-navbar (onSubcategoryClicked)="setProductList($event)"></app-navbar>

<!-- <app-navigationbar></app-navigationbar> -->
<div class="back-content">
<div class="content">
    <div fxLayout="row wrap" fxLayoutGap="8px grid">
        <div  fxFlex.lg="20%" fxFlex="25%" fxFlex.xs="50%" fxFlex.xxs="100%" fxFlex.sm="33%" *ngFor="let variant of variants;let i = index">
            <div >
            <mat-card class="mat-elevation-z4" >
                <div class="image-container">
                    <div class="wishlist_icon">
                        <a style="cursor:pointer" (click)="addToWishList(i)" *ngIf="!wishListIcons[i]" >
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-heart icon" viewBox="0 0 16 16">
                            <path d="m8 2.748-.717-.737C5.6.281 2.514.878 1.4 3.053c-.523 1.023-.641 2.5.314 4.385.92 1.815 2.834 3.989 6.286 6.357 3.452-2.368 5.365-4.542 6.286-6.357.955-1.886.838-3.362.314-4.385C13.486.878 10.4.28 8.717 2.01L8 2.748zM8 15C-7.333 4.868 3.279-3.04 7.824 1.143c.06.055.119.112.176.171a3.12 3.12 0 0 1 .176-.17C12.72-3.042 23.333 4.867 8 15z"/>
                        </svg>
                        </a>
                        <a style="cursor:pointer" (click)="addToWishList(i)" *ngIf="wishListIcons[i]">
                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="red" class="bi bi-heart-fill icon" viewBox="0 0 16 16">
                                <path fill-rule="evenodd" d="M8 1.314C12.438-3.248 23.534 4.735 8 15-7.534 4.736 3.562-3.248 8 1.314z"/>
                            </svg>
                        </a>
                    </div>
                    <a style="cursor:pointer" [attr.data-cy]="'mb-related-products-item'+variant.id" [routerLink]="['/product-view',{variantId:variant.id,productId:variant.productId}]"><img class="product_image disable-text-selection "   mat-card-image src="..\..\assets\pants.jpg" alt="product photo">
                    </a>
                    </div>
                <mat-card-content>
                    <div class="name disable-text-selection">
                        <span>{{variant.name}}</span>
                    </div>
                    <div class="price disable-text-selection">
                        {{variant.price | currency}}
                    </div>
                    <div class="colorset">
                       
                    </div>
                
                </mat-card-content>
            </mat-card>
        </div>
        </div>
    </div>
</div>
</div>
